
/* Developed by: Nicolás Cabrera Rodríguez */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lienzo{
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

#generador{
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px 30px;
  border-radius: 50px;
  background: #458f;
  color: rgb(255, 255, 255);
  font-size: 18px;
  width: 300px;
  overflow: hidden;
}